<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"

       default-init-method="initObject"
       default-destroy-method="destroyObject"
       default-lazy-init="true"
>

    <import resource="RobotsContext.xml"/>

    <bean id="robotConveyor" class="ru.bender.spring.interfaces.RobotConveyor" scope="singleton">
        <lookup-method name="createRobot" bean="T1000" />
    </bean>


    </beans>